<p-toast></p-toast> <!-- placer le Toast au top de la page -->
<div class="admin-page">
  <p-card [header]="editMode ? 'Edit Category' : 'Add Category'" subheader="You can add or edit categories">
    <div class="p-grid p-mb-4">
      <div class="p-col-12">
        <p-toolbar>
          <div class="p-toolbar-group-left"></div>
          <div class="p-toolbar-group-right">
             <p-button [label]="editMode ? 'Update' : 'Create'" [icon]="editMode ? 'pi pi-pencil' :  'pi pi-plus'" styleClass="p-button-primary p-mr-2" (click)="onSubmit()"></p-button>
             <p-button (click)="goBack()" label="Cancel" icon="pi pi-arrow-circle-left" styleClass="p-button-secondary"></p-button>
          </div>
        </p-toolbar>
      </div>
    </div>
    <div class="p-grid">
      <div class="p-col-12">
        <form [formGroup]="form">
            <div class="p-fluid p-formgrid p-grid">
              <div class="p-field p-col">
                <label for="name">Name</label>
                <input formControlName="name" id="name" type="text" pInputText>
                <small *ngIf="categoryForm.name.invalid && isSubmitted" class="p-error">Name is required</small>
              </div>
              <div class="p-field p-col">
                <label for="icon">Icon</label>
                <input formControlName="icon" id="icon" type="text" pInputText>
                <small *ngIf="categoryForm.icon.invalid && isSubmitted" class="p-error">Name is required</small>
              </div>
              <div class="p-field p-col">
                <label for="color">Color</label><br>
                <p-colorPicker formControlName="color"></p-colorPicker>
              </div>
            </div>
        </form>
      </div>
    </div>
  </p-card>
</div>
