<p-toast></p-toast>
<!-- placer le Toast au top de la page -->
<div class="admin-page">
    <p-card header="Products" subheader="Liste des Produits">
        <div class="p-grid">
            <div class="p-col-12">
                <p-toolbar>
                    <div class="p-toolbar-group-left">
                        <p-button
                            label="New"
                            icon="pi pi-plus"
                            styleClass="p-button-success"
                            routerLink="form"
                        ></p-button>
                    </div>
                    <div class="p-toolbar-group-right">
                        <p-button
                            label="Back"
                            icon="pi pi-arrow-circle-left"
                            styleClass="p-button-secondary"
                            (click)="goBack()"
                        ></p-button>
                    </div>
                </p-toolbar>
            </div>
        </div>
        <div class="p-grid">
            <div class="p-col-12">
                <p-table
                    [value]="products"
                    styleClass="p-datatable-gridlines"
                    [paginator]="true"
                    [rows]="10"
                >
                    <ng-template pTemplate="header">
                        <tr>
                            <th pSortableColumn="name">
                                Name <p-sortIcon field="name"></p-sortIcon>
                            </th>
                            <th>Image</th>
                            <th pSortableColumn="price">
                                Prix <p-sortIcon field="price"></p-sortIcon>
                            </th>
                            <th pSortableColumn="countInStock">
                                Stock <p-sortIcon field="countInStock"></p-sortIcon>
                            </th>
                            <th pSortableColumn="category">
                                Categorie <p-sortIcon field="category"></p-sortIcon>
                            </th>
                            <th pSortableColumn="dateCreated">
                                Crée <p-sortIcon field="dateCreated"></p-sortIcon>
                            </th>
                            <th></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-product>
                        <tr class="animate__animated animate__fadeIn">
                            <td>{{ product.name }}</td>
                            <td>
                                <img
                                    src="{{ product.image }}"
                                    style="width: 100%"
                                    alt="{{ product.name }} image"
                                />
                            </td>
                            <td>{{ product.price }}</td>
                            <td>{{ product.countInStock }}</td>
                            <td>{{ product.category.name }}</td>
                            <td>{{ product.dateCreated | date: 'short' }}</td>
                            <td>
                                <p-button
                                    (click)="deleteProduct(product.id)"
                                    styleClass="p-button-danger p-mr-2"
                                    icon="pi pi-trash"
                                ></p-button>
                                <p-button
                                    (click)="updateProduct(product.id)"
                                    styleClass="p-button-success"
                                    icon="pi pi-pencil"
                                ></p-button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </p-card>
</div>

<!-- Dialog de Confirmation de Suppression -->

<!-- 1ère Methode -->
<!-- <p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog> -->

<!-- 2ème Methode -->
<p-confirmDialog #cd [style]="{ width: '50vw' }">
    <ng-template pTemplate="header">
        <h3>Delete Category</h3>
    </ng-template>
    <ng-template pTemplate="footer">
        <p-button
            styleClass="p-button-success"
            type="button"
            icon="pi pi-times"
            label="No"
            (click)="cd.reject()"
        ></p-button>
        <p-button
            styleClass="p-button-danger"
            type="button"
            icon="pi pi-check"
            label="Yes"
            (click)="cd.accept()"
        ></p-button>
    </ng-template>
</p-confirmDialog>
