.d-item {
    display: flex;
    text-align: center;
    justify-content: space-between;

    .pi {
        font-size: 4em;
        margin-bottom: 15px;
    }

    .name {
        font-size: 1.4em;
        font-weight: 600;
    }

    .number {
        font-size: 2.5em;
        margin-top: 50px;
    }
}

.d-orders,
.d-products,
.d-users,
.d-totalsales,
.d-reservation,
.d-totalreserved,
.d-totaux {
    border-radius: 30px;
}

.d-orders .p-card-body:hover,
.d-products .p-card-body:hover,
.d-users .p-card-body:hover,
.d-reservation .p-card-body:hover,
.d-categories .p-card-body:hover {
    box-shadow: -3px -3px 5px rgba(255, 255, 255, 0.45) inset,
        3px 3px 5px rgba(0, 0, 0, 0.75) inset;
    cursor: pointer;
}

.d-orders {
    .p-card-body {
        background-color: #178dd1;
        background-image: linear-gradient(160deg, #178dd1 0%, #80d0c7 100%);
    }
}

.d-orders:hover {
    .p-card-body {
        background-color: #006faf;
        background-image: linear-gradient(-160deg, #107dbd 0%, #80d0c7 100%);
    }
}

.d-products {
    .p-card-body {
        background-color: #d38557;
        background-image: linear-gradient(62deg, #d38557 0%, #f7ce68 100%);
    }
}

.d-products:hover {
    .p-card-body {
        background-color: #bb6f43;
        background-image: linear-gradient(-62deg, #bb6f43 0%, #f7ce68 100%);
    }
}

.d-users {
    .p-card-body {
        background-color: #e0c61c;
        background-image: linear-gradient(147deg, #e0c61c 0%, #e01c1c 74%);
    }
}

.d-users:hover {
    .p-card-body {
        background-color: #c5ae1b;
        background-image: linear-gradient(-147deg, #c5ae1b 0%, #e01c1c 74%);
    }
}

.d-totalsales {
    .p-card-body {
        background-color: #f4d03f;
        background-image: linear-gradient(132deg, #f4d03f 0%, #16a085 100%);

        .number {
            font-size: 1.75em;
        }
    }
}

.d-categories {
    .p-card-body {
        background-color: #97b3f7;
        background-image: linear-gradient(132deg, #97b3f7 0%, #c091ed 100%);

        .number {
            font-size: 1.75em;
        }
    }
}

.d-categories:hover {
    .p-card-body {
        background: #97b3f7;
        background: linear-gradient(90deg, #9396e0 0%, #ae97f7 35%, #c091ed 100%);
    }
}

.d-reservation {
    .p-card-body {
        background: rgb(67, 190, 56);
        background: linear-gradient(
            -90deg,
            rgba(16, 117, 6, 0.833) 0%,
            rgb(21, 175, 106) 35%,
            rgba(28, 108, 159, 1) 100%
        );
    }
}

.d-reservation:hover {
    .p-card-body {
        background: rgb(67, 190, 56);
        background: linear-gradient(
            90deg,
            rgba(16, 117, 6, 0.833) 0%,
            rgb(21, 175, 106) 35%,
            rgba(28, 108, 159, 1) 100%
        );
    }
}

.d-totalreserved {
    .p-card-body {
        background-color: #ff3cac;
        background-image: linear-gradient(225deg, #ff3cac 0%, #784ba0 50%, #2b86c5 100%);

        .number {
            font-size: 1.75em;
        }
    }
}

.d-totaux {
    .p-card-body {
        background: rgb(198, 163, 37);
        background: linear-gradient(
            90deg,
            rgba(198, 163, 37, 1) 0%,
            rgba(28, 108, 159, 1) 35%,
            rgba(28, 108, 159, 1) 100%
        );

        .number {
            font-size: 1.75em;
        }
    }
}

.p-card .p-card-subtitle {
    color: $primary-color-black-alt;
}

.p-datatable .p-datatable-tbody > tr {
    color: $primary-color-black;
}

.p-datatable .p-datatable-thead > tr > th {
    background: $primary-color-footer;
    color: $primary-color-black;
    font-weight: 600;
    font-size: 0.8rem;
}

.p-datatable .p-datatable-thead > tr > th:hover {
    background: $primary-color-yellow-alt;
    color: $primary-color-black;
}

.p-datatable .p-sortable-column:not(.p-highlight):hover {
    background: $primary-color-yellow-alt;
    color: $primary-color-black;
}

.admin-page {
    // .p-card-body .p-card-content {
    //     display: none;
    // }
    .dashboard,
    #statisticsTotal .p-col-4:first-child {
        display: none;
    }
}

#productForm .p-card-content {
    color: #fff;
}

@media (max-width: 768px) {
    .admin-page {
        .p-card-body {
            .p-card-content {
                .p-grid {
                    justify-content: center;
                    .p-col-3 {
                        width: 50%;
                    }
                    .p-col-4 {
                        width: 50%;
                    }
                }
            }
        }
    }
}

@media (max-width: 600px) {
    .admin-page {
        .dashboard {
            display: block;

            .p-toolbar {
                justify-content: flex-end;
            }
        }
        #statisticsTotal .p-col-4:first-child {
            display: block;
        }
        .p-card-body {
            .p-card-content {
                .p-grid {
                    flex-direction: column;
                    justify-content: center;
                    .p-col-3 {
                        width: 100%;
                    }
                    .p-col-4 {
                        width: 100%;
                    }
                }
            }
        }
    }
    .p-datatable .p-datatable-thead > tr > th {
        padding: 0.5em 0.5em;
    }
    .p-datatable .p-datatable-tbody > tr > td {
        padding: 0.75em;
        font-size: 0.8em;
        overflow: hidden;

        .p-button.p-button-danger,
        .p-buttonset.p-button-danger > .p-button,
        .p-splitbutton.p-button-danger > .p-button {
            margin-bottom: 3px;
        }
    }
}
