<footer>
  <div class="footer">
      <div class="p-grid footer-wrapper">
        <div class="footer-wrapper-copyright">&copy; 2020 - 2021 Poisson-Kin</div>
        <div class="footer-wrapper-logo"><img src="assets/images/logoT.png" alt="logo"></div>
        <div class="footer-wrapper-social">
            <ul class="footer-wrapper-social-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="pi pi-facebook"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="pi pi-twitter"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="pi pi-youtube"></i></a>
                </li>
            </ul>
        </div>
    </div>
  </div>
</footer>
