<footer>
    <div class="footer">
        <div class="p-grid footer-wrapper">
            <div class="footer-wrapper-copyright">
                <h2 class="footer-wrapper-copyright-title">EXPLORE</h2>
                <ul>
                    <li>
                        <a routerLink="/products" class="footer-wrapper-copyright-link"
                            >Nos Produits</a
                        >
                    </li>
                    <li>
                        <a routerLink="/contact" class="footer-wrapper-copyright-link"
                            >Contact</a
                        >
                    </li>
                    <li>
                        <a
                            href="https://fish-sales-application.herokuapp.com/"
                            class="footer-wrapper-copyright-link"
                            >Notre API</a
                        >
                    </li>
                    <li>
                        <a
                            routerLink="/terms"
                            class="footer-wrapper-copyright-link"
                            >Terms et confidentialité</a
                        >
                    </li>
                </ul>
            </div>

            <div class="footer-wrapper-logo">
                <a routerLink="/"><img src="assets/images/logoT.png" alt="logo" /></a>
            </div>

            <div class="footer-wrapper-social">
                <h2 class="footer__title">FOLLOW</h2>
                <a href="https://www.linkedin.com/in/josue-lubaki/" class="nav-item"
                    ><i class="bx bxl-linkedin"></i
                ></a>
                <a href="https://www.instagram.com/josue_lubaki/" class="nav-item"
                    ><i class="bx bxl-instagram"></i
                ></a>
                <a href="https://www.facebook.com/josue.lubaki" class="nav-item"
                    ><i class="bx bxl-facebook"></i
                ></a>
            </div>
        </div>
    </div>
</footer>
