<div class="compte">
  <!-- Mes informations -->
  <p-fieldset legend="Mes Informations" [toggleable]="true"  styleClass="p-my-4" class="compte-profile" *ngIf="user">
    <div class="card">
      <div class="p-grid">
        <div class="p-col-5">
          <div class="compte-profile-content">
              <p-divider type="dashed" align="center">
                <div class="p-d-inline-flex p-ai-center">
                  <i class="pi pi-user p-mr-2"></i>
                  <b>Profil</b>
                </div>
              </p-divider>
              <p><span>ID Client</span> : {{user.id}}</p>
              <p><span>Noms</span> : {{user.name}}</p>
              <p><span>Email</span> : {{user.email}}</p>
              <p><span>Téléphone</span> : {{user.phone}}</p>
          </div>
        </div>

        <div class="p-col-2">
            <p-divider layout="vertical">
            </p-divider>
        </div>

        <div class="p-col-5">
          <div class="compte-profile-content">
            <p-divider type="dashed" align="center">
            <div class="p-d-inline-flex p-ai-center">
              <i class="pi pi-map-marker p-mr-2"></i>
              <b>Adresse</b>
            </div>
            </p-divider>
            <p *ngIf="user.avenue"><span>Avenue</span> : #{{user.apartment}} {{user.avenue}}</p>
            <p *ngIf="user.quartier"><span>Quartier</span>: {{user.quartier}}</p>
            <p *ngIf="user.commune"><span>Commune</span> : {{user.commune}}</p>
            <p *ngIf="user.city"><span>Ville</span> : {{user.city}}</p>
            <p *ngIf="user.country"><span>Pays</span> : {{getCountryName(user.country)}}</p>
          </div>
        </div>
      </div>
    </div>
  </p-fieldset>

  <!-- Mes Commandes -->
  <p-fieldset legend="Mes Commandes" [toggleable]="true"  styleClass="p-my-4">

    <p-card header="Commandes effectuées" subheader="Liste de toutes mes commandes">
    <div class="p-grid">
      <div class="p-col-12">
          <p-table [value]="commandes" styleClass="p-datatable-gridlines">
              <ng-template pTemplate="header">
                  <tr>
                      <th pSortableColumn="id">ID Commande <p-sortIcon field="id"></p-sortIcon></th>
                      <th pSortableColumn="totalPrice">Total <p-sortIcon field="totalPrice"></p-sortIcon></th>
                      <th pSortableColumn="dateOrdered">Date <p-sortIcon field="dateOrdered"></p-sortIcon></th>
                      <th pSortableColumn="status">Status <p-sortIcon field="status"></p-sortIcon></th>
                      <th></th>
                  </tr>
              </ng-template>
              <ng-template pTemplate="body" let-commande>
                  <tr class="animate__animated animate__fadeIn">
                      <td>
                        <span *ngIf="commande && commande.id !== ''">{{commande.id}}</span>
                        <span *ngIf="!commande.user || commande.user.name === ''">Unknown</span>
                      </td>
                      <td>{{commande.totalPrice | currency}}</td>
                      <td>{{commande.dateOrdered | date : "short"}}</td>
                      <td>
                        <p-tag
                          [value]="commandeStatus[commande.status].label"
                          [severity]="commandeStatus[commande.status].color">
                        </p-tag></td>
                      <td>
                         <p-button (click)="showOrder(commande.id)" styleClass="p-button-success" icon="pi pi-eye"></p-button>
                      </td>
                  </tr>
              </ng-template>
          </p-table>
      </div>
    </div>
  </p-card>

  </p-fieldset>
 <div class="logout" style="text-align:center">
  <p-button (click)="logoutUser()" styleClass="p-button-danger p-my-3">Déconnexion</p-button>
 </div>

</div>

