<p-toast></p-toast>
<!-- placer le Toast au top de la page -->
<div class="admin-page" *ngIf="order">
    <p-card
        [header]="'Vue des Commandes'"
        subheader="Vous pouvez modifier l'état de la commande"
    >
        <div class="p-grid p-mb-4">
            <div class="p-col-12">
                <p-toolbar>
                    <div class="p-toolbar-group-left">
                        <p-button
                            label="Accueil"
                            icon="pi pi-home"
                            styleClass="p-button-info"
                            routerLink="/"
                        ></p-button>
                    </div>
                    <div class="p-toolbar-group-right">
                        <p-button
                            label="Back"
                            icon="pi pi-arrow-circle-left"
                            styleClass="p-button-secondary"
                            (click)="goBack()"
                        ></p-button>
                    </div>
                </p-toolbar>
            </div>
        </div>
    </p-card>

    <p-fieldset
        legend="Details de la Commande"
        [toggleable]="true"
        styleClass="p-my-4"
        class="p-fieldset-orderDetails"
    >
        <div class="p-grid p-ai-center">
            <div class="p-col-4">
                <h5>ID Commande</h5>
                <p>{{ order.id }}</p>
            </div>

            <div class="p-col-4">
                <h5>Date Commande</h5>
                <p>{{ order.dateOrdered | date }}</p>
            </div>

            <div class="p-col-4">
                <h5>Etat Commande</h5>
                <p-dropdown
                    [options]="orderStatuses"
                    optionLabel="name"
                    optionValue="id"
                    (onChange)="onStatusChange($event)"
                    [(ngModel)]="selectedStatus"
                >
                </p-dropdown>
            </div>

            <div class="p-col-4">
                <h5>Prix Commande</h5>
                <p>{{ order.totalPrice | currency }}</p>
            </div>
            <div class="p-col-4">
                <h5>Notes pour le Client</h5>
                <form [formGroup]="formNotes">
                    <div class="p-fluid p-formgrid p-grid">
                        <div class="p-field p-col-12">
                            <!-- <label for="notes">Notes pour l'acheteur</label> -->
                            <textarea
                                rows="5"
                                cols="20"
                                pInputTextarea
                                formControlName="notes"
                                id="notes"
                                [autoResize]="true"
                                [(ngModel)]="notesStarted"
                            >
                            </textarea>
                            <small
                                *ngIf="formCheck.notes.invalid && isSubmitted"
                                class="p-error"
                                >La Note est trop longue</small
                            >
                        </div>
                    </div>
                </form>
            </div>

            <div class="p-col-2">
                <p-button
                    label="envoyer"
                    icon="pi pi-check"
                    styleClass="p-button-success"
                    (onClick)="sendNotes()"
                >
                </p-button>
            </div>
        </div>
    </p-fieldset>

    <p-fieldset
        legend="Articles de la Commande"
        [toggleable]="true"
        styleClass="p-mb-4"
        class="p-fieldset-orderItems"
    >
        <div class="p-grid p-mb-5">
            <div class="p-col-3 p-text-bold">Nom</div>
            <div class="p-col-3 p-text-bold">Categorie</div>
            <div class="p-col-2 p-text-bold">Prix</div>
            <div class="p-col-2 p-text-bold">Quantité</div>
            <div class="p-col-2 p-text-bold">Sous-Total</div>
        </div>
        <div class="p-grid p-mb-5" *ngFor="let orderItem of order.orderItems">
            <div class="p-col-3">{{ orderItem.product.name }}</div>
            <div class="p-col-3">{{ orderItem.product.category.name }}</div>
            <div class="p-col-2">{{ orderItem.product.price | currency }}</div>
            <div class="p-col-2">{{ orderItem.quantity }}</div>
            <div class="p-col-2">
                {{ orderItem.product.price * orderItem.quantity | currency }}
            </div>
        </div>
        <hr />
        <div class="p-grid p-text-bold" style="color: green">
            <div class="p-col-2 p-offset-8">Totaux</div>
            <div class="p-col-2">{{ order.totalPrice | currency }}</div>
        </div>
    </p-fieldset>

    <p-fieldset
        legend="Adresse de la Commande"
        [toggleable]="true"
        styleClass="p-mb-4"
        class="p-fieldset-orderAddress"
    >
        <div class="p-grid">
            <div class="p-col-4">
                <h5>Adresse</h5>
                <p>
                    #{{ order.apartment }} {{ order.avenue }}<br />
                    {{ order.quartier }}, {{ order.commune }} {{ order.city }}<br />
                    {{ order.country }}<br />
                </p>
            </div>

            <div class="p-col-4" *ngIf="order.user">
                <h5>Information de l'acheteur</h5>
                <p class="p-mb-1">Nom : {{ order.user.name }}</p>
                <p class="p-mt-1">email : {{ order.user.email }}</p>
            </div>

            <div class="p-col-4" *ngIf="order.user">
                <h5>Contact de l'acheteur</h5>
                <p>
                    {{ order.user.phone }}
                </p>
            </div>
        </div>
    </p-fieldset>
</div>
