<p-toast></p-toast>
<!-- placer le Toast au top de la page -->
<div class="admin-page" *ngIf="order">
    <p-card [header]="'Détail de ma Commande'"> </p-card>

    <p-fieldset
        legend="Détail commande"
        [toggleable]="true"
        styleClass="p-my-4"
        class="p-fieldset-orderDetails"
    >
        <div class="p-grid p-ai-center p-mt-3">
            <div class="p-col-4">
                <h5>ID Commande</h5>
                <p>{{ order.id }}</p>
            </div>

            <div class="p-col-4">
                <h5>Date de la Commande</h5>
                <p>{{ order.dateOrdered | date }}</p>
            </div>

            <div class="p-col-4">
                <h5>Status de la Commande</h5>
                <p-tag
                    [value]="orderStatuses[order.status].label"
                    [severity]="orderStatuses[order.status].color"
                >
                </p-tag>
            </div>

            <div class="p-col-4 totalPrice">
                <h5>Prix Total</h5>
                <p>{{ order.totalPrice | currency }}</p>
            </div>

            <div class="p-col-4">
                <h5>Notes du Vendeur</h5>
                <form [formGroup]="formNotes">
                    <div class="p-fluid p-formgrid p-grid">
                        <div class="p-field p-col-12">
                            <!-- <label for="notes">Notes pour l'acheteur</label> -->
                            <textarea
                                type="text"
                                pInputTextarea
                                rows="5"
                                cols="30"
                                formControlName="notes"
                                [(ngModel)]="notesRecues"
                                [disabled]="true"
                            ></textarea>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </p-fieldset>

    <p-fieldset
        legend="Contenus de la commande"
        [toggleable]="true"
        styleClass="p-mb-4"
        class="p-fieldset-orderItems"
    >
        <div class="p-grid p-mb-5">
            <div class="p-col-3 p-text-bold">Nom du produit</div>
            <div class="p-col-3 p-text-bold">Categorie</div>
            <div class="p-col-2 p-text-bold">Prix</div>
            <div class="p-col-2 p-text-bold">Quantité</div>
            <div class="p-col-2 p-text-bold">Sous-total</div>
        </div>
        <div class="p-grid p-mb-5" *ngFor="let orderItem of order.orderItems">
            <div class="p-col-3">{{ orderItem.product.name }}</div>
            <div class="p-col-3">{{ orderItem.product.category.name }}</div>
            <div class="p-col-2">{{ orderItem.product.price | currency }}</div>
            <div class="p-col-2">{{ orderItem.quantity }}</div>
            <div class="p-col-2">
                {{ orderItem.product.price * orderItem.quantity | currency }}
            </div>
        </div>
        <hr />
        <div class="p-grid p-text-bold" style="color: green">
            <div class="p-col-2 p-offset-8">Totaux</div>
            <div class="p-col-2">{{ order.totalPrice | currency }}</div>
        </div>
    </p-fieldset>
</div>
