header{

  background-color: $primary-color-blue-dark;
  border-radius: 0 0 5px 5px;

  .header-pGrid{
    text-align: center;
  }

  .p-badge{
    font-size: .6em;
  }

  .logo{

    img{
      width: 90px;
      clip-path: circle(44.75%);
    }
  }

  .navigation{
    padding-top: 3%;
  }

  .search{
    padding-top: 2.5%;
  }

  .tools{
   padding-top: 3%;
   display: flex;

    ngshop-nav #nav{
      position: fixed;
      width: 40%;
      top: 0;
      right: 0;
      text-align: left;
      background-color: rgb(36,41,44);
      height: 100%;
      z-index: 25;
      padding-top: 2.5em;

      ul{
        margin: 0;
      }

        .exit-btn{
          margin-top: -1.3em;
          margin-bottom: 1.1em;
          text-align: right;
          padding: 0 1.2em;

          a{
            padding-left:85%;
          }
        }

        li{
          display: block;
          color: white;

          &:hover{
            background-color: $primary-color-dark;

          }

          a{
            text-decoration: none;
            color: white;
            font-size: 1.1em;
            padding: 1em 1.2em;
          }
        }


      }

    .pi{
      margin-right: 15%;
      font-size: 1.2rem;
      color: #fff;
      margin-left: 5px;
    }

  }

  @media only screen and (max-width: 1120px) {

    .header-pGrid{

      .p-col-2{
        width: 20%;
      }
    }

    .hide-desktop{
      display: none;
    }

    .show-mobile{
      display: inline-block;
    }

    .p-grid{
      justify-content: space-between;
    }

    .header-pGrid .search{
      width: 35%;
      transition: all .7s ease-in-out;
    }


  }

  @media only screen and (max-width: 720px) {

    .pi{
      font-size: 1.2rem !important;
      transition: all .7s ease-in-out;
      align-self: center;
    }

    .header-pGrid .search{
      width: 55%;
      transition: all .7s ease-in-out;

    }

    .p-badge{
      min-width: 1rem;
      height: 1rem;
      line-height: 1rem;
    }

  }

  @media only screen and (max-width: 620px) {
    .pi-user, .pi-shopping-cart{
      display: none;
    }

    .pi{
      font-size: 1.5em !important;
      align-self: center;
    }

    // .tools{
    //   width: 16.67% !important;
    // }

    .tools #menu{
      font-size: 2.5em !important;
      margin-right: 0;
    }

  }

    @media only screen and (max-width: 290px) {


      .header{
         &-pGrid{
          .p-col-2{
            width: 24%;
          }
        }
      }

      ngshop-nav #nav{
        width: 50% !important;
      }

    }






}
