
.nav_list{



  // Par default
  .hide-desktop, .hide-menu{
    display: none;
  }

  @media only screen and (max-width: 620px) {
    .nav__item {
      .show-menu{
        display: block;
      }
    }
  }



  .nav__item{
    position: relative;
    display: table;
    list-style: none;
    display: inline-block;
    margin: 15px 10px;
    padding: 10px;

    a{
      position: relative;
      color: var(--surface-a);
      cursor: pointer;
      font-weight: bold;
      display: block;

      &:hover{
        color: $primary-color;
      }
    }

    &:hover{
      background-color: $primary-color;
      font-weight: bold;
      border-radius: 10px;

       a{
         color: #fff;
       }
    }
  }


}


