<head>
    <!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"/> -->
</head>

<div class="container">
    <ngshop-messages></ngshop-messages>
    <ngshop-header></ngshop-header>
    <router-outlet></router-outlet>
    <ngshop-footer></ngshop-footer>
</div>

<p-confirmDialog #termsMessage [style]="{ width: '50vw' }">
    <ng-template pTemplate="header">
        <h3>Termes et Confidentialité</h3>
    </ng-template>
    <ng-template pTemplate="footer">
        <p-button
            styleClass="p-button-primary"
            type="button"
            icon="pi pi-book"
            label="Tout Afficher"
            (click)="termsMessage.accept()"
        ></p-button>
        <p-button
            styleClass="p-button-primary"
            type="button"
            icon="pi pi-check"
            label="J'accepte"
            (click)="termsMessage.reject()"
        ></p-button>
    </ng-template>
</p-confirmDialog>
