$primary-color: #ff3800;
$primary-color-dark: #af2900;
$primary-color-blue-dark: #37464c;
$primary-color-blue-dark-alt: #37464cbf;
$primary-color-yellow: #eac362;
$primary-color-yellow-alt: #d4b956;
$primary-color-footer: #858c8f;
$color-category: #fff;
$primary-color-black-alt: #141414;
$primary-color-black: #000;
$primary-color-red-dark: #920303;
$primary-color-red-secondary: #661c1c;
$primary-color-white-alt: #e9e9e9;
