<div class="main">
    <div class="header">
        <h2 class="header-title">Condition d'utilisation de l'application</h2>
        <p class="subtitle">Dernière mise à jour : 02 janvier 2022</p>
    </div>
    <p>
        Bienvenue sur l'application ( et site ) de vente de poisson (PSK). Veuillez lire
        ces conditions d'utilisation (« CGU ») et posez-nous toutes les questions connexes
        avant d'utiliser l'application. Cette application et le contenu des informations
        fournies ici vous sont accordés (« vous » ou « l'utilisateur ») expressémennt sous
        réserve de l'acceptation des termes et conditions suivants. En Utilisant cette
        application ( et site ) vous acceptez d"être lié par ces conditions d'utilisation.
    </p>
    <p>
        Assurez-vous de revenir régulièrement sur cette page pour vérifier les mises à
        jour des CGU. Nous nous réservons le droit à tout moment, à notre seule discretion
        et sans préavis, de changer ou de modifier autrement les CGU.
    </p>

    <span class="boldText"> 1. Objet </span>
    <p>
        Ce document a pour objet de définir les modalités et conditions dans lesquelles
        l'utilisateur peut utiliser l'application.
    </p>

    <span class="boldText"> 2. Définitions </span>
    <p class="blocRetrait">
        <span class="boldTextSub"> 2.1. Application </span>
        <span
            >L'application est une application web qui permet de vendre des
            poissons.</span
        >
    </p>
    <p class="blocRetrait">
        <span class="boldTextSub"> 2.2. Utilisateur </span>
        L'utilisateur est un individu qui utilise l'application.
    </p>
    <p class="blocRetrait">
        <span class="boldTextSub"> 2.3. Membre </span>
        Le membre est un utilisateur qui est enregistré sur l'application.
    </p>
    <p class="blocRetrait">
        <span class="boldTextSub"> 2.4. Produit </span>
        Le produit est un poisson vendu sur l'application.
    </p>
    <p class="blocRetrait">
        <span class="boldTextSub"> 2.5. Commande </span>
        La commande est une commande d'un produit.
    </p>
    <p class="blocRetrait">
        <span class="boldTextSub"> 2.6. Paiement </span>
        Le paiement est un moyen de paiement utilisé pour payer une commande.
    </p>
    <p class="blocRetrait">
        <span class="boldTextSub"> 2.7. Facture </span>
        La facture est un document électronique envoyé par l'application à l'utilisateur
        qui lui permet de payer une commande.
    </p>
    <span class="boldText"> 3. Accès à l'application </span>
    <p>
        L'application est accessible à tout utilisateur qui dispose d'un accès à internet.
        Vous êtes responsable de prendre toutes les dispositions nécessaires pour que
        votre appareil dispose d'une connectivité Internet et êtes responsable de toutes
        les sommes que votre furnisseur de services peut vous facturee résultat de la
        transmission et de la réception de données par l'application (y compris, mais sans
        s'y limiter, les frais d'itinérance des données). Comme décrit plus en détail dans
        notre politique de confidentialité, l'application transférera automatiquement une
        petite quantité de données dans le cadre de son fonctionnment normal, y compris
        les erreurs ou problèmes techniques que l'application peut rencontrer pendant son
        utilisation. En utilisant l'Application, vous reconnaissez, acceptez et consentez
        à la collecte automatique de ces informations.
    </p>
    <p class="blocRetrait">
        <span class="boldTextSub"> 3.1. Connexion </span>
        L'utilisateur doit s'identifier pour accéder à l'application. L'identifiant et le
        mot de passe ne sont pas obligatoires pour accéder à l'application, mais par il
        vous en faudra si vois souhaitez consulté certain service que l'application
        propose. Vous êtes libre d'accéder à ces différents services depuis le site web si
        vous ne souhaitez en récupérer depuis votre appareil mobile.
    </p>
    <p class="blocRetrait">
        <span class="boldTextSub"> 3.2. Déconnexion </span>
        L'utilisateur peut se déconnecter à tout moment en cliquant sur le bouton
        déconnexion. L'application ne conserve aucune trace de l'utilisateur. Lorsque vous
        utilisez votre navigateur pour y accéder aux données, lors de votre déconnexion
        toutes les données ou traces de votre navigations seront supprimés
        automatiquement, sauf bien évidement les données qui sont stockées dans le
        navigateur (telles que les produits dans votre panier et certaines cookies). Sur
        votre appareil mobile, lors de l'utilisation de l'application, la déconnection ne
        supprime que les informations qui sont nécessaires pour vous identifier (telles
        que votre ID utilisateur, votre nom et votre adresse e-mail).
    </p>
    <p class="blocRetrait">
        <span class="boldTextSub"> 3.3. Mot de passe </span>
        L'utilisateur est responsable de la sécurité de son mot de passe. Il est
        responsable de l'utilisation de son mot de passe et de l'application ne pourra
        être tenu responsable de tout dommage résultant de l'utilisation de son mot de
        passe. L'utilisateur s'engage à ne pas divulguer son mot de passe à des tiers.
        Seul le site web de l'application, vous propose un service de récupèration en cas
        de perte ou fraude de votre mot de passe.
    </p>
    <p class="blocRetrait">
        <span class="boldTextSub"> 3.4. Cookies de session </span>
        L'application utilise des cookies de session pour améliorer l'expérience
        utilisateur. les cookies de session sont supprimés lorsque vous vous déconnectez.
        Les cookies de session sont utilisés pour stocker certaines informations
        nécessaires pour votre auto-connexion. Le service de cookie conserve également
        votre token, qui est utilisé pour vous identifier, lors de l'envoi de vos requetes
        vers notre serveur.
    </p>
    <div>
        <span class="boldText">4. Informations fournies par vous</span>
        <br />
        <p>
            En contrepartie de votre utilisation de l'Application, vous acceptez de
            fournir les informations véridiques, exactes, actuelles et complètes sur
            vous-même comme demandé par l'application. Soi vous fournissez des
            informations fausses, inexactes, périmées ou incomplètes, (ou deviennent
            fausses, inexactes, périmées ou incomplètes) vous serez responsable de tout
            dommage que cela peut engendrer sur le service proposé par l'application. Si
            la situation ne s'améliore pas, dans ce cas (PSK) a le droit de suspendre ou
            de résilier toute utilisation actuelle ou future de l'application. PSK se
            réseerve le droit de refuser le service, de résiler des comptes ou de
            supprimer ou de modifier du contenu à sa seule discretion. Nonobstant ce qui
            précède, nous nous réservons le droit, à notre seule discrétion, de refuser
            l'accès à toute personne à l'application mobile et aux services que nous
            proposons, à tout moment et pour quelque raison que ce soit, y compris, mais
            sans s'y limiter.
        </p>
    </div>
    <div>
        <span class="boldText">5. Activités interdites</span>
        <br />
        <p>
            En utilisant l'Application, vous acceptez de ne pas : (i) utiliser cette
            application ou son contenu à des fins sexuels; (ii) utiliser cette application
            ou son contenu pour atteindre des fins illégales; (iii) utiliser cette
            application ou son contenu pour atteindre des fins obscènes; (iv) utiliser
            cette application ou son contenu pour atteindre des fins de contrepartie ou de
            contre-proposition; (v) utiliser cette application ou son contenu pour
            atteindre des fins de publicité; (vi) effectuer toute réservation spéculative,
            fausse ou frauduleuse ou toute réservation en prévision d'une demande; (vii)
            accéder, surveiller ou copier tout contenu ou information de cette application
            en utilisant un robot ou tout autre moyen automatisé ou tout processus manuel
            à quelque fin que ce soit sans notre autorisation écrite expresse; (viii)
            incorporer autrement une partie de cette application dans une autre
            application sans notre autorisation écrite préalable.
        </p>
        <p>
            Vous ne pouvez pas copier (sauf dans la mesure permise par les présentes CGU),
            faire de l'ingénierie inverse, désassembler, tenter de dériver le code source
            de, modifier ou créer des œuvres dérivées de l'Application, toute mise à jour
            ou toute partie de celle-ci (sauf dans la mesure et uniquement pour dans la
            mesure où toute restriction précédente est interdite par la loi applicable ou
            dans la mesure permise par les conditions de licence régissant l'utilisation
            de tout composant open source inclus avec l'Application).
        </p>
    </div>
    <div>
        <span class="boldText">6. Responsabilité de l'application </span>
        <br />
        <p>
            L'application est fournie en l'état. L'application ne garantit pas qu'elle
            sera fonctionnelle, ou qu'elle sera exempte de tout dommage, qu'elle ne
            contiendra pas d'erreur ou qu'elle ne contiendra pas de virus. L'application
            ne garantit pas que les informations disponibles dans l'application soient
            exactes, complètes ou à jour.
        </p>
    </div>
    <div>
        <span class="boldText">7. Responsabilité de l'utilisateur </span>
        <br />
        <p>
            L'utilisateur est responsable de l'utilisation de l'application et de tout
            contenu qu'il consulte, publie ou télécharge.
        </p>
    </div>
    <div>
        <span class="boldText">8. Responsabilité de PSK </span>
        <br />
        <p>
            PSK ne pourra être tenu responsable des dommages directs, indirects,
            consécutifs, accessoires ou pertes de profits, résultant de l'utilisation de
            l'application ou de tout contenu de l'application, ou de l'utilisation de
            l'application ou de tout contenu de l'application par l'utilisateur.
        </p>
    </div>
    <div>
        <span class="boldText">9. Indemnité</span>
        <br />
        <p>
            Vous acceptez d'indemniser et de dégager PSK (et ses dirigeants,
            administrateurs et employés) de toute responsabilité contre toute réclamation,
            cause d'action, demande, récupération, perte, dommange, amende, pénalité ou
            autre coût ou les dépenses de toute nature, y compris les honoraires d'avocat,
            ou découlant de ou liés à votre violation des présentes CGU, votre violation
            de toute loi ou des droits d'un tiers, ou votre utilisation de l'application.
        </p>
    </div>
    <div>
        <span class="boldText">10. Communication</span>
        <br />
        <p>
            Lorsque vous utilisez l'application ou envoyer des e-mails à PSK, vous
            communiquez ave PSK par voie électronique. Vous consentez à recevoir des
            communications de PSK par voie électrique. PSK peut communiquer avec vous par
            e-mail ou en publiant des avies dur l'Application. vous acceptez que les
            accords, avis, divulgations et autres communications que nous vous fournissons
            par voie électronique satisfassent à toute exigence légale selon laquelle ces
            communications doivent être écrites.
        </p>
        <p>
            PSK peut également communiquer via la messagerie texte SMS avec les
            utilisateurs qui acceptent de recevoir des messages texte SMS de notre part.
            L'Utilisateur certifie qu'il est l'abonné de tous les numéros de téléphone
            qu'il a fournis à PSK. Des tarifs et frais standard peuvent d'appliquer auprès
            de votre opérateur téléphonique. Vous n'êtes pas obligé de donner votre
            consentement à cette communication pour recevoir des messages texte SMS comme
            condition de recevoir un service de PSK, et avez le droit de révoquer votre
            consentement pour tous les numéros de téléphone fournis à tout moment. Vous
            pouvez revoquer ce consentement soit en nous envoyant un e-mail à l'adresse de
            l'administrateur (lubaki.josue@gmail.com), soit en nous envoyant un avis écrit
            à notre adresse indiqueée dans les présentes.
        </p>
    </div>
    <div>
        <span class="boldText">11. Modification des conditions d'utilisation</span>
        <p>
            PSK se réserve le droit d'apporter des modifications à l'application, aux
            politiques et accords connexes, à nos conditions de réservation, à notre
            politique de confidentialité et aux présentes conditions d'utilisation à tout
            moment. Vérifiez toujours l'application pour la version la plus mise à jour
            avant utilisation.
        </p>
    </div>
    <div>
        <span class="boldText"
            >12. Honoraires d'avocat, frais et dépenses de poursuite</span
        >
        <p>
            Si un acte de droit ou d'équité, y compris une action en justice déclaratoire
            ou toute procédure d'arbitrage, est intenté pour appliquer, interpréter ou
            interpréter les dispositions des présentes Conditions d'utilisation, notre
            Politique de confidentialité, l'Application ou toute documentation ou matériel
            concernant PSK, la partie gagnante aura le droit de recouvrer les honoraires,
            frais et dépenses réels d'avocat.
        </p>
    </div>

    <div>
        <h2>Politique de Confidentialité de PSK</h2>
        <p class="subtitle">Dernière mise à jour : 02 janvier 2022</p>
        <p>
            Poisson-kin.com (désigné par le terme « PSK ») s'engage à protéger votre vie
            privée et à vous offrir une expérience de navigation sécuritaire. Cette
            politique de confidentialité explique comment nous recueillons, utilisons et
            divulguons des informations personnelles lorsque vous utilisez notre site web
            poisson-kin.com et notre application mobile, désignés conjointement dans les
            présentes comme nos « Services », et vos droits en ce qui concerne vos
            informations personnelles.
        </p>
        <p>
            En continuant à utiliser nos Services, vous reconnaissez que vous avez eu la
            possibilité d'examiner et de considérer notre Politique de confidentialité et
            d'accepter ses conditions, y compris l'utilisation des informations et les
            motifs de divulgation tels que décrits dans les présentes. Si vous ne
            comprenez pas cette politique de confidentialité ou ne l'acceptez pas, vous
            devez immédiatement cesser d'utiliser nos services.
        </p>
        <h4>Catégories d'informations personnelles que nous pouvons collecter</h4>
        <p>
            Nous collectons les informations suivantes lorsque vous utilisez nos Services:
        </p>
        <ul>
            <li>Nom et prénom</li>
            <li>adresse électronique (e-mail)</li>
            <li>Adresse de Livraison</li>
            <li>numéro de téléphone</li>
        </ul>
        <p>
            Nous pouvons utiliser diverses technologies pour collecter des informations
            non personnelles concernant votre accès à nos services, notamment :
        </p>
        <ol>
            <li>Distinguer les utilisateurs de manière unique</li>
            <li>Se rappeler l'heure des visites précédentes</li>
            <li>Pour la connexion au compte utilisateur</li>
            <li>Pour l'enregistrement d'un nouvel utilisateur</li>
            <li>
                Pour la récupèreation des données de l'utilisateur connecté (commandes,
                historique, etc...)
            </li>
        </ol>
    </div>
    <h4>Partage de renseignement personnels</h4>
    <p>
        Nous ne partageons que les informations nécessaire au service demandé par
        l'utilisateur. et ceux de manière sécurisée telle que décrit sur ce présent
        document.
    </p>
    <h4>Vos droits et choix relatifs à vos informations personnelles</h4>
    <p>
        Vous avez la possibilité de vous opposer à l'utilisation de vos informations
        personnelles pour les besoins de notre application, en vous adressant à l'adresse
        suivante : lubaki.josue@gmail.com
        <span
            >Vous disposez de certains droits et choix concernant vos informations
            personnelles :
        </span>
    </p>
    <ul>
        <li>
            Si vous avez un compte chez nous, vous pourrez dès les prochains kours
            modifier vos informations personnelles
        </li>
        <li>
            Vous pouvez contrôler notre utilisation des cookies en modifiant les
            paramètres de votre navigateur Web
        </li>
        <li>
            Pour notre App, vous pouvez afficher et gérer les notifications et les
            préférences dans les menus de paramètres de l'App et de votre système
            d'exploitation
        </li>
    </ul>
    <h4>Informations personnelles soumises par les enfants</h4>
    <p>
        Nous ne collectons pas sciemment d'informations personnellement identifiables
        auprès d'enfants de moins de 13 ans. Si un parent ou un tuteur apprend que son
        enfant nous a fourni des informations personnelles sans son consentement, il doit
        nous contacter. Si nous apprenons qu'un enfant de moins de 13 ans nous a fourni
        des informations personnelles, nous supprimerons ces informations de nos fichiers.
    </p>

    <h4>Sécurité</h4>
    <p>
        Bien qu'aucun site Internet ne puisse garantir une sécurité absolue, nous
        utilisons des mesures de protection physiques, électroniques et administratives
        pour nous aider à empêcher les accès non autorisés, à maintenir l'exactitude des
        données et à utiliser correctement vos informations personnelles. Toute
        information personnelle est cryptée à la fois en transit entre l'appareil de
        l'utilisateur et nos serveurs et au repos. L'accès à ces serveurs est sévèrement
        restreint sur la base du contrôle d'accès basé sur les rôles et du principe du
        moindre privilège. Toutes les opérations effectuées sur ces serveurs génèrent des
        événements auditables qui suivent en outre l'utilisateur authentifié effectuant
        l'opération.
    </p>

    <h4>Transfert international de données</h4>
    <p>
        Les informations personnelles que nous traitons peuvent être transmises ou
        transférées vers des pays autres que le pays dans lequel vous résidez. Ces pays
        peuvent avoir des lois sur la protection des données différentes des lois de votre
        pays. Nous sommes situés aux canada, tandis que des fournisseurs de services tiers
        opèrent dans de nombreux pays à travers le monde. Lorsque nous collectons vos
        informations personnelles, elles peuvent être traitées dans l'un de ces pays. Nous
        avons pris les mesures appropriées et mis en place des mesures de protection pour
        garantir que vos informations personnelles restent protégées conformément à la
        présente politique de confidentialité.
    </p>

    <h4>Consérvation des données</h4>
    <p>
        Nous conserverons vos informations personnelles conformément à toutes les lois
        applicables, aussi longtemps que cela sera pertinent pour atteindre les objectifs
        énoncés dans la présente politique de confidentialité, à moins qu'une période de
        conservation plus longue ne soit requise ou autorisée par la loi. <br />
        Les critères que nous utilisons pour déterminer nos périodes de conservation
        comprennent :
    </p>
    <ul>
        <li>
            La durée de notre relation avec vous, y compris les comptes ouverts ou les
            réservations récentes que vous avez effectuées
        </li>
        <li>
            Si nous avons une obligation légale liée à vos informations personnelles,
            telles que des lois nous obligeant à conserver des enregistrements de vos
            transactions avec nous
        </li>
    </ul>

    <h4>Mises à jour de la politique de confidentialité</h4>
    <p>
        peut mettre à jour notre politique de confidentialité en réponse à l'évolution des
        lois et/ou des développements techniques ou commerciaux. Vous pouvez voir quand
        cette politique de confidentialité a été mise à jour pour la dernière fois en
        vérifiant la date de « dernière mise à jour » affichée au bas de cette
        déclaration. Il est de votre responsabilité de revoir la politique de
        confidentialité de PSK chaque fois que vous fournissez des informations
        personnelles à PSK, car la politique peut avoir changé depuis la dernière fois que
        vous avez utilisé nos services.
    </p>

    <h4>Contacter PSK</h4>
    <p>
        Si vous avez des questions ou des préoccupations concernant notre utilisation de
        vos informations personnelles, veuillez nous contacter à : lubaki.josue@gmail.com
    </p>
</div>
