<header>
    <div class="p-grid header-pGrid">
          <div>
            <div class="logo">
              <img src="assets/images/logoT.png" routerLink="/" class="animate__animated animate__fadeInLeft" alt="logo">
            </div>
          </div>

          <div class="navigation nav_menu hide-desktop show-desktop">
              <ngshop-nav></ngshop-nav>
          </div>
          <div class="tools">
            <i class="pi pi-user p-text-secondary" style="font-size: 1.5rem;color: #fff" id="user" ></i>
            <orders-cart-icon style="display:flex"></orders-cart-icon>
            <i class="pi pi-bars hide-desktop show-mobile menu"
              style="font-size: 1.5rem"
              id="menu"
              (click)="openMenuBar($event)"></i>

            <div class="hide-desktop" id="blocMenu">
              <ngshop-nav></ngshop-nav>
            </div>
          </div>
      </div>
</header>
