<div class="admin-sidebar">
  <div class="logo">
      <img src="/assets/images/logo.png" alt="logo">
  </div>
  <div class="links">
    <ul>
      <li>
        <a routerLink="/"><i class="pi pi-home"></i>Dashboard</a>
      </li>
       <li>
        <a routerLink="/products"><i class="pi pi-briefcase"></i>Products</a>
      </li>
       <li>
        <a routerLink="/categories"><i class="pi pi-list"></i>Categories</a>
      </li>
       <li>
        <a routerLink="/orders"><i class="pi pi-shopping-cart"></i>Orders</a>
      </li>
      <li>
        <a routerLink="/reservations"><i class="pi pi-calendar"></i>Reservations</a>
      </li>
       <li>
        <a routerLink="/users"><i class="pi pi-users"></i>Users</a>
      </li>
       <li>
        <a class="logout" (click)="logoutUser()"><i class="pi pi-sign-out"></i>Logout</a>
      </li>
    </ul>
  </div>
</div>
